[workspace]
name = "difix-workspace"
version = "0.2.1"
description = "Pixi workspace for developing difix3d and related projects"
authors = ["Oliver Batchelor <oliver.batchelor@canterbury.ac.nz>"]
channels = ["rapidsai", "conda-forge", "nvidia"]
platforms = ["linux-64"]

[pypi-options]
index-url = "https://pypi.org/simple"
extra-index-urls = [
  "https://download.pytorch.org/whl/cu130",
  ]


[pypi-dependencies]

difix3d = { path = ".", editable = true }

build = ">=1.3.0, <2"
ninja = ">=1.11.2,<2"
opencv-python = ">=4.10.0,<5" 

torch = "==2.9.*"
torchvision = ">=0.24.0,<=0.25.0"
torch-tensorrt = "==2.9.*"
tensorrt = "*"
nvidia-modelopt = ">=0.41.0, <0.42"

[system-requirements]
cuda = "12.1"
libc = { family = "glibc", version = "2.34" }

[activation]
scripts = ["activate.sh"]

[dependencies]

python = "3.12.*"

pip = ">=25.0,<26"
pyright = ">=1.1.407,<2"
pytest = ">=9.0.2,<10"
ruff = ">=0.14.11,<0.15"


[tool.ruff]
indent-width = 2
python-version = "3.12"


[tool.pyrefly.errors]
bad-assignment = false
invalid-argument = false
